@import url('https://fonts.googleapis.com/css?family=Merriweather:500,600,700|Roboto:300,400,500');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #696969; /*Grey color */
}

/* ------------------------------------------------------ Header */

#logo {
    float: left;
    text-decoration: none;
}

#logo h2 {
    font-family: 'Merriweather', serif;
    font-size: 200%;
    color: #4682b4; /* Steel Blue color */
    text-shadow: 2px 2px 4px #808080;
}

#scmenu {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo, #scmenu {
    line-height: 75px;
}

#scmenu li {
    float: right;
    margin-right: 30px;
}

#scmenu a {
    text-decoration: none;
    color: inherit;
}

#scmenu a:hover {
    color: #4682b4; /* Steel Blue color */
    font-weight: 500;
    text-shadow: 2px 2px 4px #808080;
}

.scactive {
    font-weight: 500;
    text-shadow: 2px 2px 4px #808080;
}

/* ------------------------------------------------------ Section: Welcome */

#scmeeting {
    height: 700px;
    width: 100%;
    background: url("../img/meeting-t.jpg") no-repeat center center
}

#scmeetingrange {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#welcome-text {
    width: 400px;
    height: 220px;
    color: #fefcff; /* Milky white */
    background-color: rgba(212,175,55,.7);
    padding-top:20px;
    bottom: 35px; /* Fixed the welcome text box-bottom */
    right: 100px; /* Fixed the welcome text box-right */
    position: absolute;
}

#welcome-text h1 {
    margin-bottom: 5px;
    font-size: 300%;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

hr {
    width: 80%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color:#fefcff; /* Milky white */
}

#welcome-text h3 {
    margin: 20px;
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* ------------------------------------------------------ Section: About */

/* ------------------------------------------------------ Section: Event */

/* ------------------------------------------------------ Footer */