@import url('https://fonts.googleapis.com/css?family=Merriweather:500,600,700|Roboto:300,400,500');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #696969;
}

#logo {
    float: left;
}

#logo h2 {
    font-family: 'Merriweather', serif;
    font-size: 200%;
    color: #4682b4;
    text-shadow: 2px 2px 4px #808080;
}