@import url('https://fonts.googleapis.com/css?family=Merriweather:500,600,700|Roboto:300,400,500');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #696969; /*Grey color */
}

/* ------------------------------------------------------ Header */

header {
    line-height: 75px;
}

#logo {
    float: left;
    margin-left: 20px;
    text-decoration: none;
}

#logo h2 {
    font-family: 'Merriweather', serif;
    font-size: 200%;
    color: #4682b4; /* Steel Blue color */
    text-shadow: 2px 2px 4px #808080;
}

#scmenu {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 2px;
}

#scmenu li {
    float: right;
    margin-right: 30px;
}

#scmenu a {
    text-decoration: none;
    color: inherit;
}

#scmenu a:hover {
    color: #4682b4; /* Steel Blue color */
    font-weight: 500;
    text-shadow: 2px 2px 4px #808080;
}

.scactive {
    font-weight: 500;
    text-shadow: 2px 2px 4px #808080;
}

/* ------------------------------------------------------ Home-Section: Welcome */

#scmeetingrange {
    height: 700px;
    width: 100%;
    background: url("../img/meeting-t.jpg") no-repeat center center;
    overflow: hidden;
}

#welcome-text {
    width: 400px;
    height: 220px;
    padding-top:20px;
    bottom: 35px; /* Fixed the welcome text box-bottom */
    right: 100px; /* Fixed the welcome text box-right */
    background-color: rgba(212,175,55,.7);
    color: #fefcff; /* Milky white */
    position: absolute;
    text-align: center;
}

#welcome-text h1 {
    margin-bottom: 5px;
    font-size: 300%;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

hr {
    width: 80%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color:#fefcff; /* Milky white */
}

#welcome-text h3 {
    margin: 20px;
    font-size: 130%;
    font-weight: 300;
}

/* ------------------------------------------------------ Home-Section: About */

#about {
    height: 500px;
}

#about h1, #about h2 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #808080;
}

#about h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #4682b4; /* Steel Blue color */
    text-align: center;
    font-size: 200%;
    letter-spacing: 1px;
}

#about h2 {
    font-size: 130%;
}

#left, #right {
    margin-right: 30px;
    padding-top: 30px;
    width: 30%;
}

#left {
    float: left;
}

#right {
    float: right;
}

#center {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto; /* center the div */
}

br {
    display: block;
    content: "";
    margin: 2em;
    font-size: 24%; /* spacing */
}

.left-right-side, .middle {
    width: 50%;
    float: right;
    padding-top: 40px;
}

.left-right-side {
    clear: both;
    margin-left: 20px;
    margin-bottom: 50px;
}

.middle {
    margin-right: 20px;
}

#container {
    width: 150px;
    height: 150px;
    border: 3px solid #cccccc;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
}

#contain-study {
    background: url("../img/study-group.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#contain-wifi {
    background: url("../img/free-wifi.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#contain-seminar {
    background: url("../img/truth-seminar.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#contain-bible {
    background: url("../img/bible-study.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#contain-cafe {
    background: url("../img/cafe.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#contain-books {
    background: url("../img/spiritual-book.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* ------------------------------------------------------ Home-Section: Event */

#event {
    height: 250px;
}

#event div {
    color: #ffebcd;
    width: 19.2%;
    height: 90%;
    float: left;
    padding-top: 30px;
    text-align: center;
    margin: 5px;
}

#event h2 {
    color: #ffffff;
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
}

#event h3 {
    margin-top: 20px;
    font-weight: 400;
}

.event-black {
    background-color: rgba(48,48,48,.8);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.event-black h2 {
    padding: 30px;
    text-transform: uppercase;
}

.event-black h3 {
    color: #ffffff;
    font-size: 200%;
}

.event-grey {
    background-color: rgba(105,105,105,.8);
}

.event-green {
    background-color: rgba(102,102,0,.8);
}

/* ------------------------------------------------------ Footer */

footer {
    /*margin-top: 5px;*/
    border-top: 1px solid #fff;
    height: 40px;
    width: 100%;
    background-color: #333333;
    clear: both;
}
    
footer #footer-copyright {
    color: #fff;
    line-height: 35px;
    font-size: 80%;
    text-align: center;
}

/* ------------------------------------------------------ Gallery */

#scgallery {
    width: 100%;
    clear: both;
    background-color: #e6e2d3;
}

#gallery-text h1, #photo-text h1 {
    margin-bottom: 30px;
    padding-top: 50px;
    font-family: 'Merriweather', serif;
    font-size: 250%;
    text-align: center;
    text-shadow: 2px 2px 4px #808080;
    letter-spacing: 10px;
}

#gallery-text hr, #photo-text hr {
    width: 10%;
    height: 2px;
    margin-bottom: 40px;
    background-color: #808080;
}

#photo-text h3 {
    margin-bottom: 10px;
    font-size: 130%;
    font-weight: 300;
    text-align: center;
}

#video iframe {
    margin: 0 auto;
    display: block;
}

#photo {
    margin-top: 50px;
}

#photo img {
    width: 49%;
    margin-left: 4px;
}

/* ------------------------------------------------------ Meet Us: Location */

#meet {
    height: 650px;
    width: 100%;
    clear: both;
    background: url("../img/desa.jpg") no-repeat center center;
}

#location {
    width: 20%;
    margin: 80px 0 0 150px;
    padding: 30px 30px 30px 30px;
    float: left;
    background-color: rgba(245,245,220,0.6);
    border-radius: 10px;
    color: #000;
    text-align: center;
}

#location h2 {
    font-family: 'Merriweather', serif;
    text-transform: none;
    text-shadow: 2px 2px 4px #808080;
    margin-bottom: 10px;
}

#open {
    padding-top: 30px;
}

#day{
    float: left;
    text-align: right;
    color: #4682b4;
    text-shadow: 2px 2px 4px #fff;
}

#time {
    float: right;
    margin-top: 5px;
    font-weight: 500;
    text-align: left;
    color: #404040;
}

#address, #phone, #follow {
    margin-top: 20px;
}

#address, #follow, #social li {
    clear: both;
    display: inline-block;
}

#contact p, #address p, #phone p {
    font-weight: 500;
    color: #404040;
}

#social i {
    font-size: 30px;
    margin-right: 5px;
    color: #404040;
}

#social i:hover {
    color: #4682b4;
}

/* ------------------------------------------------------ Meet Us: Form */

#form {
    width: 40%;
    margin: 140px 100px 0 0;
    padding: 20px 35px 20px 35px;
    float: right;
    background-color: rgba(60,60,60,0.6);
    border-radius: 10px;
    color: #fafafa;
}

#form p {
    margin-bottom: 20px;
    text-align: center;
}

textarea {
    resize: none;
}

.place-input {
    background-color: rgba(245,245,220,0.6);
    width: 100%;
    height: 25px;
    margin: 2px 0 5px 0;
    border: 3px solid #fafafa;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.place-input:hover {
    border-color: #4682b4;
}

button {
    background-color: #4682b4;
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    color: #fafafa;
    font-size: 100%;
    text-align: center;
    display: block;
    float: right;
}

button:hover {
    background-color: #fafafa;
    color: #4682b4;
}

/* ------------------------------------------------------ Media Queries */

@media screen and (max-width: 1200px) and (orientation: landscape) {
    #welcome-text {
        bottom: -10px;
    }

    #about {
        width: 70%;
        height: 1200px;
        margin: 0 auto;
    }
    
    #left, #center, #right {
        width: 100%;
        padding: 15px;
        float: left;
    }
    
    .left-right-side, .middle {
        width: 50%;
        margin-right: 20px;
    }
    
    #container {
        margin-left: 70px;
    }
    
    #event div {
        width: 100%;
        height: 150px;
        padding: 10px;
        clear: both;
    }
    
    .event-black h2, .event-black h3 {
        line-height: 0;
        margin: 5px;
    }
    
    .event-black h2 {
        padding: 35px;
    }
    
    #event h2, #event h3 {
        margin: 8px;
    }
    
    #video iframe {
        width: 90%;
        height: 550px;
    }
    
    #photo-text h3 {
        margin: 30px;
    }
    
    #meet {
        height: 700px;
    }

    #location {
        width: 25%;
        margin: 40px 0 0 30px;
        padding: 30px 30px 30px 30px;
    }
    
    #form {
        width: 45%;
        margin: 140px 30px 0 0;
    }

}
    
@media screen and (max-width: 767px) {
    #welcome-text {
        bottom: -100px;
        left: 0;
    }
    
    #scmenu {
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    
    #about h1 {
        width: 90%;
        text-align: center;
        margin-left: 30px;
    }
    
    #left, #center, #right {
        width: 100%;
        padding: 15px;
        float: left;
    }
    
    .left-right-side, .middle {
        width: 50%;
        margin-right: 20px;
    }
    
    #container {
        margin-left: 20px;
    }
    
    #event div {
        width: 100%;
        height: 150px;
        padding: 10px;
        clear: both;
    }
    
    .event-black h2, .event-black h3 {
        line-height: 0;
        margin: 5px;
    }
    
    .event-black h2 {
        padding: 35px;
    }
    
    #event h2, #event h3 {
        margin: 8px;
    }
    
    #video iframe {
        width: 100%;
        height: 400px;
    }
    
    #photo-text h3 {
        margin: 20px;
    }
    
    #photo img {
        width: 100%;
        margin: 0;
    }
    
    #meet {
        height: 1200px;
        background: none;
        background-color: #808080;
    }
    
    #location {
        width: 50%;
        margin: 65px 90px 0 90px;
    }
    
    #form {
        width: 50%;
        margin: 50px 80px 10px 80px;
        padding: 20px 35px 20px 35px;
    }
}